# Dependencies
node_modules/

# Next.js build output
.next/
out/
dist/

# OS / System
.DS_Store

# Environment variables
.env
.env*.local
!.env.example

# Local data & logs
.data/
*.log
*.tsbuildinfo

# Vercel
.vercel/
